*{
    margin: 0;
    padding: 0;
    font-family: "kalam",sans-serif;
    box-sizing: border-box;
}
.layout{
    display: flex;
    background-color: #F2A9A2;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
/* pagina1 */
    /* header */
    header{
        width: 100%;
        min-height: 15vh;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #F25C5C;
        padding: 9px;
        position: fixed;
    }
    .navbar a{
        text-decoration: none;
        color: #F2F2F0;
        border: 1px solid #F24444;
        border-radius: 21px;
        margin: 0;
        padding: 6px;
        background-color: #F24444;
    }
    .navbar a:hover{
        color: #465952;
        background-color: #F2F2F0;
        transition-duration: 1s;
    }
    #active{
        color: #465952;
        background-color: #F2F2F0;
    }
    .titulo {
        text-align: center;
        margin: 6% 0 0 0;
        color: white;
    }
    h1, h2{
        padding: 6px;
    }

    /* main */
    main{
        width: 100%;
        min-height: 80vh;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .banner img{
        border: 3px solid #F2F2F0;
        border-radius: 15px;
        box-shadow: 0 0 10px 1px #465952;
    }
    .info{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: auto;
        align-items: center;
        text-align: center;
        text-wrap: balance;
        gap: 10px;
        margin: 0 auto;
        padding: 21px;
        color: #F2F2F0;
    }
    .info img{
        border: 3px solid #F2F2F0;
        border-radius: 15px;
        box-shadow: 0 0 10px 1px #465952;
    }

    /* footer */
    footer{
        width: 100%;
        min-height: 5vh;
        background-color: #F25C5C;
        color: #F2F2F0;
        text-align: center;
        margin: 0 auto;
        padding: 6px;
    }

/* pagina 2 */
    /* main */
    .sub{
        text-decoration: underline;
    }
    .infous{
        display: flex;
        flex-direction: column;
        width: 70%;
        min-height: auto;
        margin: 0 auto;
        padding: 21px;
    }
    .seccion img{
        border: 3px solid #F2F2F0;
        border-radius: 15px;
        box-shadow: 0 0 10px 1px #575756;
    }
    .seccion{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #F2F2F0;
        text-align: center;
        text-wrap: balance;
        gap: 50px;
    }
    .wa {
        display: flex;
        position: sticky;
        bottom: 6px;
        align-items: end;
        justify-content: right;
    }
    .wa img{
        height: 51px;
        width: 51px;
    }

/* pagina3 */
    /* main */
    .infocontacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: auto;
        margin: 0 auto;
        padding: 21px;
        color: #F2F2F0;
    }
    .contacto{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: 12px;
        padding: 50px;
    }
    .contacto p{
        margin: 0;
        padding: 12px;
        font-size: 24px;
        border: 1px solid #e9928a;
        border-radius: 24px;
        background-color: #e9928a;
        box-shadow: 0 0 10px 10px #e9928a;
    }

/* pagina4 */
    /* main */
    .tabla{
        display: flex;
        justify-content: center;
    }
    table{
        border-collapse: collapse;
        margin: 20px;
        padding: 20px;
        text-align: center;
        color: #F2F2F0;
    }
    td{
        border: 3px solid #e9928a;
        padding: 50px;
        box-shadow: 0 0 10px 10px #e9928a;
    }

/* pagina5 */
    /* main */
    .productos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 3%;
    }
    .descripcion{
        display: flex;
        flex-direction: row-reverse;
        border:2px solid #e9928a;
        border-radius: 12px;
        width: 50%;
        margin: 30px;
        padding: 1%;
        height: auto;
        box-shadow: 0 0 10px 10px #e9928a;
    }
    .texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: auto;
        text-align: center;
    }
    .texto p{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .descripcion ol{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-align: left;
        align-items: center;
        padding-left: 6%;
    }
    .calificacion{
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .imagen{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: auto;
    }
    .imagen img{
        border: 3px solid #F2F2F0;
        border-radius: 15px;
        box-shadow: 0 0 10px 1px #465952;
    }
    .beneficios{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 60px;
    }
    ul{
        list-style: none;
        width: 80vh;
        height: auto;
        margin: 10px;
        color: #F2F2F0;
    }
    .dd{
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 20px;
    }